streamlit==1.38.0
plotly
pandas
numpy>=2.1.0
python-dotenv
sentence-transformers
scikit-learn
langchain
langchain-core
langchain-community
langchain-openai
openai
sqlite-utils
matplotlib
aiohttp
tenacity
orjson
zstandard
typing-extensions
